* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  overflow: hidden;
}

body {
  background: linear-gradient(120deg, #030c20 70%, #051050d0);
  color: white;
  font-family: "Jockey One", sans-serif;
  opacity: 0.7;
}
.wrapper {
  margin-top: 7%;
  height: 100vh;
}
.wrapper h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 60px;
}

.wrapper .team-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  width: auto;
  text-align: center;
}
.team {
  margin: 30px;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 20px;
  background: linear-gradient();
}

.team-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
}
.team-img img {
}

.team h3 {
  font-size: 2.1rem;
  margin: 40px;
}

.role {
  font-size: 1.9rem;
}

#contribution {
  font-size: 1.7rem;
  margin: 20px 0 20px 0;
}
