* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* <!-- -------------Navbar------------- --> */

.header {
  min-height: 100vh;
  width: 100wh;
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.945),
      rgba(2, 5, 17, 0.863)
    ),
    url(banner2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 3%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 171px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 8px 12px;
  font-size: 0.9rem;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background: rgb(66, 145, 236);
  transition: 0.29s;
}

.nav-links ul li:hover::after {
  width: 70%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  padding-bottom: 30px;
  font-size: 100px;
  font-weight: 900;
  color: #c5c5c5;
}
.text-box p {
  padding-bottom: 35px;
  font-size: 30px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  background: transparent;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins";
}
.hero-btn:hover {
  border: 1px solid rgb(40, 60, 177);
  background: linear-gradient(to right, rgb(40, 60, 177), rgb(99, 71, 150));
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

/* <!-- -------------Navbar____MEDIA QUERIES------------- --> */

@media (max-width: 800px) {
  .text-box h1 {
    padding-bottom: 10px;
    font-size: 4rem;
    font-weight: 900;
  }
  .text-box p {
    padding-bottom: 25px;
    font-size: 1.3rem;
  }

  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 6px 10px;
    background: transparent;
    font-size: 20px;
    position: relative;
    cursor: pointer;
  }
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    margin-left: 4px;
    background: rgb(149, 167, 247);
    transition: 0.29s;
  }
  .nav-links ul li:hover::after {
    width: 29%;
  }
}
@media (max-width: 500px) {
  .text-box h1 {
    padding-bottom: 10px;
    font-size: 2.9rem;
    font-weight: 900;
  }
  .text-box p {
    padding-bottom: 25px;
    font-size: 1.3rem;
  }
  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 6px 10px;
    background: transparent;
    font-size: 20px;
    position: relative;
    cursor: pointer;
  }

  .nav .logo img {
    width: 50px;
  }
}

@media (max-width: 700px) {
  .nav-links ul li {
    display: block;
  }
  .header nav {
    margin-top: 15px;
    margin-left: 5px;
  }
  .nav-links {
    position: absolute;
    background: rgba(0, 0, 21, 0.568);
    height: 100vh;
    width: 150px;
    right: -150px;
    top: 0;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links ul {
    padding: 10px;
  }
  nav .fa-solid {
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
  }
}

/* <!-- -------------Problem and Solutions Section------------- --> */

.wrapper {
  background-color: #161616;
}

.problem-solution {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  min-height: fit-content;
  color: #fff;
}
.hero-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  justify-content: center;
}

.prob-col h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  padding-left: 2.5rem;
}
.prob-col p {
  margin-bottom: 0.625rem;
  font-size: 1.438rem;
  text-align: start;
  padding-left: 3.125rem;
}

.prob-col .para-heading {
  font-size: 1.7rem;
  font-family: "Poppins";
}
.prob-col .para-content {
  margin: 1rem;
}
.sol-col h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  padding-left: 40px;
}
.sol-col p {
  margin-bottom: 1rem;
  font-size: 1.438rem;
  text-align: start;
  padding-left: 3.125rem;
}

.sol-col mark {
  background-color: #353535;
  color: #fff;
}
/* <!-- -------------Problem and Solutions Section____MEDIA QUERIES------------- --> */

@media (max-width: 700px) {
  .hero-content {
    margin-bottom: 20px;
  }
  .problem-solution {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    min-height: 70vh;
    color: #fff;
  }
  .prob-col h2 {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    padding-left: 2.5rem;
  }

  .prob-col p {
    margin-bottom: 0.625rem;
    font-size: 0.8rem;
    text-align: start;
    padding-left: 3.125rem;
  }
  .prob-col .para-heading {
    font-size: 0.9rem;
    font-family: "Poppins";
  }
  .sol-col {
    padding-bottom: -30px;
  }
  .sol-col h2 {
    font-size: 1rem;
    padding-left: 40px;
  }
  .sol-col p {
    font-size: 0.8rem;
    text-align: start;
    padding-left: 3.125rem;
    margin-bottom: 1rem;
  }
}

/* <!-- -------------contactUs Section------------- --> */

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background: #0e0f12;
  gap: 20px;
}

.contact .item {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 20px;
}

.contact-title h2 {
  font-weight: 800;
  color: white;
  font-size: 40px;
  margin: 40px 0 3px 0;
  font-family: "Outfit", sans-serif;
}
.contact-title hr {
  border: none;
  width: 100px;
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 0 30px 10px;
}

.item {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 15px 0 25px;
  border-radius: 25px;
  font-weight: 500;
  color: #787878;
  font-size: 15px;
  border: 2px solid white;
}

.contact textarea {
  height: 140px;
  border-radius: 20px;
  padding: 15px;
}

.item:focus {
  border: 2px solid rgb(242, 144, 144);
  background-color: rgb(255, 246, 233);
}

.contact button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  width: auto;
  gap: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: "Outfit", sans-serif;
  background: linear-gradient(to right, rgb(61, 80, 188), rgb(62, 36, 110));
  cursor: pointer;
  margin-bottom: 30px;
}

.contact button img {
  height: 15px;
}

@media (max-width: 800px) {
  .contact .item {
    width: 50vw;
  }
  .h-captcha {
    width: 50vw;
  }
  .contact-title h2 {
    font-weight: 800;
    color: white;
    font-size: 30px;
  }

  .item {
    width: 400px;
    height: 35px;
    border: none;
    outline: none;
    padding: 0 15px 0 25px;
    border-radius: 25px;
    font-weight: 500;
    color: #787878;
    font-size: 15px;
    border: 2px solid white;
  }
}

.h-captcha {
  margin: 10px;
  border-radius: 9px;
}

/* <!-- -------------backToTop-button------------- --> */

#progress {
  background-color: #3b49c7;
  position: fixed;
  bottom: 20px;
  right: 15px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 40px;
  color: #001a2e;
}

@media (max-width: 700px) {
  #progress {
    height: 50px;
    width: 50px;
    right: 10px;
  }
  #progress-value {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    font-size: 30px;
  }
}
/* <!-- -------------Footer Section------------- --> */

.footer {
  min-height: auto;
  width: 100vw;
  /* background: linear-gradient(to right, #00093c, #2d0b00); */
  background-color: #001a2e;
  color: #fff;
}

.made-by {
  text-align: center;
  color: #bebebe;
}
